

/* page-top start */

.page-top {
	height:100%;
	position:fixed;
	width: 100%;
	background:rgb(255, 255, 255);
	z-index:0;
	transition:All 0.4s ease;
	-webkit-transition:All 0.4s ease;
}

.page-top .header-tab .online {
	text-align: center;
    line-height: 45px;
    position: absolute;
    height: 45px;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 55%;
    color: #fff;
    margin: 0px auto;
	font-size: 20px;
	font-weight: bold;
}

.header-tab {
	width: 100%;
    height: 45px;
    line-height: 45px;
    background: #6ba74f;
    z-index: 100;
}

.header-tab .icon-liebiao {
	color: #fff;
    font-size: 30px;
    padding-left: 0.5em;
}

/* page-top end */

/* login start */
.login {
	display: none;
}

.login .login-title {
	text-align: center;
	line-height: 45px;
}

.login .type-text {
	width: 80%;
	margin: 10px auto 0px;
}

.login .type-text #code {
	width: 70%;
}

.login .type-text .codebtn {
	height: 35px;
}

.login .type-text input[type='text'],input[type='password'],input[type='button'] {
	width: 100%;
	text-indent: 1em;
	border-radius: 5px;
	border: 1px solid #eee;
	height: 35px;
}

.login .type-text input[type='button'] {
	color: #999;
}

/* login end */

/* body_Gizw start */
.body_Gizw {
	width: 100%;
	display: none;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: #fff;
	margin: 0px auto;
}

.body_Gizw .log-header {
	width: 100%;
	height: 40px;
	line-height: 40px;
	background: #f2f2f2;
	text-align: center;
	color: #333;
}

.body_Gizw .tagMessage {
	background: #fff;
	width: 100%;
	overflow-y: auto;
	height: 100%;
}

.body_Gizw .tagMessage #log {
	font-size: 14px;
    width: 100%;
    display: block;
    padding: 10px 0px 0;
    height: auto;
    color: #333;
}

.body_Gizw .tagMessage #log p {
	margin: 5px;
}

.body_Gizw .tagMessage #clear, .clearElement {
	width: 95%;
    height: 35px;
    margin: 10px auto;
    display: block;
}
/* body-Gizw end */


.gizw-title {
	margin: 5px;
}

/* frame start */

.frame .awesome{
	display: none;
}

.frame .check_frame input[type='range'] {
    margin: 13px 13px;
    width: 87%;
}

.frame .check_frame #sliderSpan {
	line-height: 50px;
    margin-right: 5px;
}

.frame .check_frame {
	width: 100%;
	margin-top: 10px;
	height: 50px;
	background: rgb(251, 249, 254);
}

.frame .check_frame #switch { display: none; }

.frame .check_frame .trigger {
	cursor: pointer;
	position: relative;
	float: left;
	width: 60px;
	border-radius: 100px;
    height: 30px;
	margin: 10px;
	background: #666;
	overflow: hidden;
	-webkit-transition: background .15s linear;
}

.frame .check_frame #switch:checked + .trigger { 
	background: #00C5FF; 
}

.frame .check_frame .trigger:before {
  	content: '';
  	position: absolute;
  	top: 0;
  	left: 0;
  	bottom: 0;
	width: 20px;
  	border-radius: 100px;
    height: 20px;
  	margin: auto 5px;
  	box-shadow: 0 0 0 100px hsla(0, 0%, 0%, .3);
  	-webkit-transition: left .15s linear;
}
.frame .check_frame #switch:checked + .trigger:before { 
	left: 30px;
}

.frame .check_frame .check_txt {
	line-height: 50px;
	text-indent: 1em;
}

.select, #connect{
	width: 100%;
    line-height: 35px;
    font-size: 14px;
    outline: none;
    border: none;
    margin: 5px 0px;
    height: 35px;
    background: rgb(251, 249, 254);
}



.frame .iconfont {
	width: 100%;
	height: 35px;
	line-height: 35px;
	display: block;
	margin-top: 10px;
	background: rgb(251, 249, 254);
	text-decoration: none;
	color: #333;
	text-indent: 1em;
	text-align: center;
}


/* frame end */



.fl {float: left;}
.fr {float: right;}
.clear {clear: both;}

